version: "3.9"

networks:
  dmz-net:
    driver: bridge
  internal-net:
    driver: bridge

services:
  web01:
    build: ./WEB
    container_name: web01
    networks:
      - dmz-net
      - internal-net   # so web01 can talk to db01 over internal
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env:ro
    tty: true
    depends_on:
      db01:
        condition: service_healthy

  db01:
    image: postgres:15
    container_name: db01
    networks:
      - internal-net
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}   
      POSTGRES_DB: ${DB_NAME}            
    volumes:
      - ./DB/init-users.sql:/docker-entrypoint-initdb.d/init-users.sql
    ports:
      - "5432:5432"
    tty: true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5


  nginx:
    image: nginx:latest
    container_name: nginx01
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - dmz-net
      
      
  ssh01:
    image: debian:12
    container_name: ssh01
    networks:
      - internal-net
    ports:
      - "2223:22"
    tty: true

  ca01:
    image: debian:12
    container_name: ca01
    networks:
      - internal-net
    tty: true

  fw01:
    image: debian:12
    container_name: fw01
    networks:
      - dmz-net
      - internal-net
    tty: true
